<mat-form-field class="w-full">
    <mat-label data-label>{{ label() | translate }}</mat-label>
    <input
        (click)="mateDatepicker.open()"
        [matDatepicker]="mateDatepicker"
        [formControl]="control()"
        [min]="min()"
        [max]="max()"
        [attr.aria-label]="'ACCESSIBILITY.ARIA.FORM.DATE_FIELD' | translate"
        [attr.aria-describedby]="control().hasError('required') ? 'date-error' : null"
        readonly
        matInput
        data-datepicker />
    <mat-datepicker-toggle
        matSuffix
        [for]="mateDatepicker"
        [attr.aria-label]="'ACCESSIBILITY.ARIA.FORM.DATE_PICKER' | translate"
        data-mat-datepicker-toggle></mat-datepicker-toggle>
    <mat-datepicker #mateDatepicker data-mat-datepicker></mat-datepicker>
    @if (control().hasError('required')) {
        <mat-error id="date-error">{{ 'COMMONS.ERROR.REQUIRED' | translate }}</mat-error>
    }
</mat-form-field>
