<included>
    <!-- Console Appender Configuration -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Conversion rules -->
    <conversionRule conversionWord="sanitizedMsg"
                    class="com.afklm.scalaadm.common.utils.SanitizedUserInputConverter"/>
    <conversionRule conversionWord="clr" class="org.springframework.boot.logging.logback.ColorConverter"/>

    <!-- Specific Logger Configurations -->
    <logger name="web" level="DEBUG"/>
    <logger name="com.afklm.scalaadm" level="DEBUG"/>
    <logger name="com.afklm.spring.security.habile" level="DEBUG"/>
    <logger name="org.springframework.security" level="DEBUG"/>

    <!-- Root Logger Configuration -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</included>
